body {
    padding: 1vh;
    font-family: Arial, Helvetica, sans-serif;
}

.mainContainer {
    background-color: rgb(100, 100, 220);
    min-height: 100vh;
    border-radius: 10px;
    display: flex;
}