.formComponent {
    border: 1px solid rgb(100, 100, 220);
    border-radius: 5px;
    /* background-color: rgba(100, 100, 220, 1); */
    margin-top: 1vh;
    font-weight: normal;
    padding-left: 1vw;
    overflow: auto;
}
.formComponent > * {
    margin-top: 0.5vh;
    display: inline-block;
}
.trashImg {
    display: block;
}
input[type="date"] {
    background-color: inherit;
    border: none;
    color: inherit;
    font: inherit;
}